@media (max-width:1250px){
    .header__btn-menu{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        span {
            background-color: $purple;
            width: 37px;
            height: 3px;
            border-radius: 4px;
            display: block;
            margin: 6px 0;
            box-shadow: 4px 2px 3px 0px rgba(0,0,0,0.25);
            -webkit-box-shadow: 4px 2px 3px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 4px 2px 3px 0px rgba(0,0,0,0.25);
        }
    }  
    .logo {display:block;position: relative;z-index: 12;}
    .menu{
        width: 100%;
        background-color: rgba(255,255,255, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        text-align: center;
        &--open{transform: translateY(70px);}
        &__list-link{
            display: block;
            padding: 15px 0;
            &:hover{font-weight: 700;}
        }
        transform: translateY(-650px);
        transition: all .5s;
    }
    .menu__list{
        display: block;        
    }
    .menu__list-submenu{
        display: inline-block;
    }
    .menu__list-item{
        margin: 20px 0px;
        font-size: 1.2em;
    }
    .header__btn-reg{
        margin-left: 0px;
    }
}

@media (max-width:1100px) {
    .container{
        padding: 0px 100px;
    }
}

@media (max-width:1040px) {
    .container{
        padding: 0px 40px;
    }
    .footer{
    &__widgets{
        flex-wrap: wrap; 
        height: auto;     }
    &__widgets-logo,
    &__widgets-subscription{
        max-width:60%;    }
    &__widgets-nav,
    &__widgets-about,
    &__widgets-support{
       max-width:20%;    }
    &__widgets-subscription,
    &__widgets-support{margin-top: 30px;}
    }
}

@media (max-width:768px) {
    .container{
        padding: 0px 20px;
    }
}

@media (max-width:540px){
    .footer{
        &__widgets{
            padding: 20px 0;
        }
        &__widgets-logo,
        &__widgets-subscription{
            max-width:100%; width: 100%;  }
        &__widgets-nav,
        &__widgets-about,
        &__widgets-support{
           max-width:25%;    }
        &__widgets-subscription,
        &__widgets-support{margin-top: 0px;}
        &__widgets-logo{margin-bottom: 20px;}
        &__widgets-subscription{margin-top: 20px;}
        }
}

@media (max-width:375px) {
    .footer{
        &__widgets-nav,
        &__widgets-about,
        &__widgets-support{
        max-width:33%;    }   
    }
}
