$darkshade100: #1F2041;
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade50: rgba(31, 32, 65, 0.50);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}