@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import url(../css/fontawesome.min.css);
@import url(../css/brands.min.css);

.header{    
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    &__inner-btn{
        display: flex;        
    }
    &__btn-enter,
    &__btn-reg{
        margin: 18px 0px;
        border: none;
        background: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        &:hover svg {filter: brightness(1.2); }
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.2s ease;
          }
    }
    &__btn-reg{
        margin-left: 20px;
    }

}
.logo{
    margin: 15px 0;
    display: flex;
}
.menu{
    &__list{
        display: flex;
        flex-wrap: wrap;        
    }
    &__list-item{
       margin: 26px 0px;
    }
    &__list-link{
        color: $darkshade50;
        margin-right: 20px;
        &:hover{color: $darkshade100;}
        &--active{
            font-weight: 700;
            margin-right: 20px;
        }
    }
    &__list-btn-enter,
    &__list-btn-reg{
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__list-btn-enter{
        color: $purple;
        z-index: 1;
        &:hover{opacity: .9;}
    }
    &__list-btn-reg{
        color:#FFF;
        z-index: 1;
    }
    &__list-more{
        display: inline;
        &:hover{opacity: .8;}
    }
    &__list-submenu{
        min-width: 75px;
        position: absolute;
        z-index: 5;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        transition: .3s linear;
        visibility: hidden;
        opacity: 0;
    }
    &__list-submenu-li{
        position: relative;
        
    }
    &__list-submenu .menu__list-submenu{
        position: absolute;
        top: 0;
        left: 100%;
        transition: transform .3s linear;
    }
    &__list-submenu-link{
        display: block;
        border-bottom: 1px solid $darkshade25;
        padding: 2px 10px;
        background-color: rgba(#fff,.8);
        font-size: 12px;
        text-align: left;
        &:hover{color:$green;border-bottom: 1px solid $green;}
    }
}
.menu__list li:hover > .menu__list-submenu{
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
}
.footer{
    &__bar{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #FFF;
        box-shadow: 0px 10px 20px 0px $darkshade5;
    }
    &__info-social-twitter,
    &__info-social-facebook {
        font-size: 24px;
        line-height: 97.75%;
        margin-right: 20px;
        background: var(--Primary-Gradient, linear-gradient(180deg, $purple 0%, #8BA4F9 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover{opacity: .9;}
    }
    &__info-social-instagram{
        font-size: 24px;
        line-height: 97.75%;
        background: var(--Primary-Gradient, linear-gradient(180deg, $purple 0%, #8BA4F9 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover{opacity: .9;}
    }
    &__widgets{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 372px;  
        padding: 100px 0;
    }
   &__widgets-line {
        display: flex;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            border: 1px solid $darkshade5;
        }          
    }
    &__widgets-logo{
        max-width: 260px;
    }
    &__widgets-logo-img{
        margin-bottom: 20px;
    }   
    &__widgets-nav{
        max-width: 143px;
    }
    &__widgets-nav-link{
        color: $darkshade50;
        margin-top: 21px;
        display: block;
        &:hover{color: $darkshade100;}
    }
    &__widgets-about{
        max-width: 108px;
    }
    &__widgets-support{
        max-width: 149px;
    }
    &__widgets-subscription{
        max-width: 260px;     
    }
    &__widgets-subscription-form{
        position: relative;
    }
    &__widgets-subscription-text{
        margin-top: 21px;
    }
    &__widgets-subscription-input{
        display: block;
        margin-top: 21px;
        width: 100%;
        background-color: transparent;
        border-color: $darkshade5;
        padding: 2px 35px 2px 5px;
        &::placeholder{color:$darkshade25; padding: 12px 15px;}        
    }
    &__widgets-subscription-btn{
        position: absolute;
        border: none;
        background-color: transparent;        
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}
.home{
    position: relative;
    &__box{
        max-width: 100%;
        height: 90vh;
        background-image: url(../images/home_main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70px;
    }
    &__box-text{
        max-width: 297px;
        text-align: right;
        line-height: 24px; 
        position: absolute;
        bottom: 18px;
        right: 140px;
    }
    &__box-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;       
        align-items: flex-start; 
        max-width: 380px;
        height: auto;     
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: #FFF;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20); 
        padding: 40px 30px 30px 30px;
        label{text-transform: uppercase;color:$darkshade100;font-size: 12px; font-weight: 700;}
    }
    &__box-form-title{
        margin-bottom: 21px;
    }
    &__box-form-submit{
        width: 100%;
        padding: 14px 18px;
        border: none;
        background: transparent;
        position: relative;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        &:hover svg {filter: brightness(1.2); }
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.2s ease;
          }
    }
    &__box-form-submit-text{
        color:#fff;
        z-index: 1;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__box-form-submit-arrow{
        position: absolute;
        top: 9px;
        right: 15px;
        color: #fff;    
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        z-index: 1;
    }
    &__box-form-input-check,
    &__box-form-input-exit{
        position: relative;
        width: 150px;
    }
    &__box-form-input-exit svg {
        position: absolute;
        top: 45px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__box-form-input-check svg {
        position: absolute;
        top: 45px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__box-form input{
        border-radius: 4px;
        border: 1px solid $darkshade25;
        background: #FFF;
        padding: 11px 15px;
        font-size: 14px;
        line-height: 18px; 
        font-weight: 400; 
        width: 150px;
        height: 44px;    
    }
    &__box-form-box-select{
        margin-top: 20px;
        width: 320px;
    }
}
.rooms{
    margin-top: 30px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__items h1 {text-align: left;width: 100%;}
    &__search-form input{
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid $darkshade25;
        background: #FFF;
        padding: 11px 15px;
        font-size: 14px;
        line-height: 18px; 
        font-weight: 400; 
        width: 266px;
        height: 44px;   
    }
    &__search-form-check{
        position: relative;
        width: 100%;
    }
    &__search-form-check svg{
        position: absolute;
        top: 40px;
        right: 15px;
        &:hover{opacity: .8;}
    }
}


.aside{
    width: 270px;
    margin-right: 60px;
    &__block-title{
        margin-bottom: 5px;
    }
    
}