@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import url(../css/fontawesome.min.css);
@import url(../css/brands.min.css);

.header{    
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    &__inner-btn{
        display: flex;        
    }
    &__btn-enter,
    &__btn-reg{
        margin: 18px 0px;
        border: none;
        background: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        &:hover svg {filter: brightness(1.2); }
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.2s ease;
          }
    }
    &__btn-reg{
        margin-left: 20px;
    }

}
.logo{
    margin: 15px 0;
    display: flex;
}
.menu{
    &__list{
        display: flex;
        flex-wrap: wrap;        
    }
    &__list-item{
       margin: 26px 0px;
    }
    &__list-link{
        color: $darkshade50;
        margin-right: 20px;
        &:hover{color: $darkshade100;}
        &--active{
            font-weight: 700;
            margin-right: 20px;
        }
    }
    &__list-btn-enter,
    &__list-btn-reg{
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__list-btn-enter{
        color: $purple;
        z-index: 1;
        &:hover{opacity: .9;}
    }
    &__list-btn-reg{
        color:#FFF;
        z-index: 1;
    }
    &__list-more{
        display: inline;
        &:hover{opacity: .8;}
    }
    &__list-submenu{
        min-width: 75px;
        position: absolute;
        z-index: 5;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        transition: .3s linear;
        visibility: hidden;
        opacity: 0;
    }
    &__list-submenu-li{
        position: relative;
        
    }
    &__list-submenu .menu__list-submenu{
        position: absolute;
        top: 0;
        left: 100%;
        transition: transform .3s linear;
    }
    &__list-submenu-link{
        display: block;
        border-bottom: 1px solid $darkshade25;
        padding: 2px 10px;
        background-color: rgba(#fff,.8);
        font-size: 12px;
        text-align: left;
        &:hover{color:$green;border-bottom: 1px solid $green;}
    }
}
.menu__list li:hover > .menu__list-submenu{
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
}
.footer{
    &__bar{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #FFF;
        box-shadow: 0px 10px 20px 0px $darkshade5;
    }
    &__info-social-twitter,
    &__info-social-facebook {
        font-size: 24px;
        line-height: 97.75%;
        margin-right: 20px;
        background: var(--Primary-Gradient, linear-gradient(180deg, $purple 0%, #8BA4F9 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover{opacity: .9;}
    }
    &__info-social-instagram{
        font-size: 24px;
        line-height: 97.75%;
        background: var(--Primary-Gradient, linear-gradient(180deg, $purple 0%, #8BA4F9 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover{opacity: .9;}
    }
    &__widgets{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 372px;  
        padding: 100px 0;
    }
   &__widgets-line {
        display: flex;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            border: 1px solid $darkshade5;
        }          
    }
    &__widgets-logo{
        max-width: 260px;
    }
    &__widgets-logo-img{
        margin-bottom: 20px;
    }   
    &__widgets-nav{
        max-width: 143px;
    }
    &__widgets-nav-link{
        color: $darkshade50;
        margin-top: 21px;
        display: block;
        &:hover{color: $darkshade100;}
    }
    &__widgets-about{
        max-width: 108px;
    }
    &__widgets-support{
        max-width: 149px;
    }
    &__widgets-subscription{
        max-width: 260px;     
    }
    &__widgets-subscription-form{
        position: relative;
    }
    &__widgets-subscription-text{
        margin-top: 21px;
    }
    &__widgets-subscription-input{
        display: block;
        margin-top: 21px;
        width: 100%;
        background-color: transparent;
        border-color: $darkshade5;
        padding: 2px 35px 2px 5px;
        &::placeholder{color:$darkshade25; padding: 12px 15px;}        
    }
    &__widgets-subscription-btn{
        position: absolute;
        border: none;
        background-color: transparent;        
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
    &__content{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            border: 1px solid $darkshade25;
        } 
    }
}
.home{
    position: relative;
    &__box{
        max-width: 100%;
        height: 90vh;
        background-image: url(../images/home_main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70px;
    }
    &__box-text{
        max-width: 297px;
        text-align: right;
        line-height: 24px; 
        position: absolute;
        bottom: 18px;
        right: 140px;
    }
    &__box-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;       
        align-items: flex-start; 
        max-width: 380px;
        height: auto;     
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: #FFF;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20); 
        padding: 40px 30px 30px 30px;
        label{text-transform: uppercase;color:$darkshade100;font-size: 12px; font-weight: 700;}
    }
    &__box-form-title{
        margin-bottom: 21px;
    }
    &__box-form-submit{
        width: 100%;
        padding: 14px 18px;
        border: none;
        background: transparent;
        position: relative;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        &:hover svg {filter: brightness(1.2); }
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.2s ease;
          }
    }
    &__box-form-submit-text{
        color:#fff;
        z-index: 1;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__box-form-submit-arrow{
        position: absolute;
        top: 9px;
        right: 15px;
        color: #fff;    
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        z-index: 1;
    }
    &__box-form-input-check,
    &__box-form-input-exit{
        position: relative;
        width: 150px;
    }
    &__box-form-input-exit svg {
        position: absolute;
        top: 45px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__box-form-input-check svg {
        position: absolute;
        top: 45px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__box-form input{
        border-radius: 4px;
        border: 1px solid $darkshade25;
        background: #FFF;
        padding: 11px 15px;
        font-size: 14px;
        line-height: 18px; 
        font-weight: 400; 
        width: 150px;
        height: 44px;    
    }
    &__box-form-box-select{
        margin-top: 20px;
        width: 320px;
    }
}
.rooms{
    margin-top: 30px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__items {
        display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 20px 13px;
          }
    &__search-form input{
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid $darkshade25;
        background: #FFF;
        padding: 11px 15px;
        font-size: 14px;
        line-height: 18px; 
        font-weight: 400; 
        width: 266px;
        height: 44px;   
    }
    &__search-form-check{
        position: relative;
        width: 100%;
    }
    &__search-form-check svg{
        position: absolute;
        top: 40px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__search-form-price-text{
        font-size: 12px;
     }
    &__search-form-slider{
        margin: 23px 0 10px 0;        
    }
    &__search-form-rules,
    &__search-form-price,
    &__search-form-conveniences,
    &__search-form-additionally{
        margin-top: 30px;
        width: 100%;
    }

    &__search-form-rules-form,
    &__search-form-availability-form,
    &__search-form-additionally-form {
       padding-top: 11px;
    }
    &__search-form-rules input[type="checkbox"]:checked,
    &__search-form-availability input[type="checkbox"]:checked,
    &__search-form-availability input[type="checkbox"]:not(:checked),
    &__search-form-rules input[type="checkbox"]:not(:checked),
    &__search-form-additionally input[type="checkbox"]:checked,
    &__search-form-additionally input[type="checkbox"]:not(:checked)
    {
        position: absolute;
        left: -9999px;
    }
    &__search-form-rules input[type="checkbox"]:checked + label, 
    &__search-form-availability input[type="checkbox"]:checked + label, 
    &__search-form-availability input[type="checkbox"]:not(:checked) + label,
    &__search-form-rules input[type="checkbox"]:not(:checked) + label,
    &__search-form-additionally input[type="checkbox"]:checked + label, 
    &__search-form-additionally input[type="checkbox"]:not(:checked) + label
     {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
        color: rgba(31, 32, 65, 0.50);
        margin-bottom: 10px;
    }
    &__search-form-rules input[type="checkbox"]:checked + label:before, 
    &__search-form-availability input[type="checkbox"]:checked + label:before, 
    &__search-form-availability input[type="checkbox"]:not(:checked) + label:before,
    &__search-form-rules input[type="checkbox"]:not(:checked) + label:before,
    &__search-form-additionally input[type="checkbox"]:checked + label:before, 
    &__search-form-additionally input[type="checkbox"]:not(:checked) + label:before
    {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid $darkshade25;
        background-color: #ffffff;
        border-radius: 4px;
    }
    &__search-form-rules input[type="checkbox"]:checked + label:after, 
    &__search-form-availability input[type="checkbox"]:checked + label:after, 
    &__search-form-availability input[type="checkbox"]:not(:checked) + label:after,
    &__search-form-rules input[type="checkbox"]:not(:checked) + label:after,
    &__search-form-additionally input[type="checkbox"]:checked + label:after, 
    &__search-form-additionally input[type="checkbox"]:not(:checked) + label:after
     {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        left: -1px;
        top: -1px;
        border: 1px solid $purple;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        background-image: url(../images/svg/check_mark.svg);        
    }
    &__search-form-rules input[type="checkbox"]:not(:checked) + label:after {opacity: 0;}
    &__search-form-availability input[type="checkbox"]:not(:checked) + label:after {opacity: 0;}
    &__search-form-availability input[type="checkbox"]:checked + label:after {opacity: 1;}
    &__search-form-rules input[type="checkbox"]:checked + label:after {opacity: 1;}
    &__search-form-additionally input[type="checkbox"]:not(:checked) + label:after {opacity: 0;}
    &__search-form-additionally input[type="checkbox"]:checked + label:after {opacity: 1;}

    &__search-form-availability{
        margin-top: 30px;
        width: 100%;
    }
    &__search-form-rules-form{
        margin-top: 11px;
    }
    &__search-form-availability-form-text{
        color: $darkshade50;
        font-size: 12px;
        line-height: 14px;
        margin: -5px 0 10px 28px;
    }
    &__search-form-additionally-box{
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
    }
    &__search-form-additionally-more{
        display: flex;
        width: 12px;
        height: 8px;
        margin: 2px 16px 0 0;        
    }
    &__title {
        margin-bottom: 10px;
        grid-column: span 6;
    }
    &__item{
        max-width: 270px;
        background-color: #fff;
        box-shadow: 0px 10px 20px $darkshade5;
        position: relative;
        grid-column: span 2;
        border-radius: 5px;
    }
    &__item-box-top,
    &__item-box-footer{
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }
    &__item-box-top{align-items: baseline;margin-top: 20px;margin-bottom: 10px;}
    &__item-box-footer{
        padding-bottom: 19px;
        &::before{
          content: '';  
          position: absolute;
          width: 85%;
          height: 1px;
          background: rgba(31, 32, 65, 0.10);      
        }
    }
    &__item-img{
        width: 100%;
    }
    &__item-img-slider{border-radius: 5px 5px 0 0;}
    
    &__item-num{
        color: $darkshade100;
        font-size: 19px;
        font-weight: 700;
        line-height: normal;
        & span{font-size: 14px;}
        :hover{color: $purple;}
    }
    &__item-class{
        color: $purple;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 6px;
    }
    &__item-price{
        color: $darkshade50;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px; 
    }
    &__item-reviews{
        color: $darkshade50;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin-top: 11px;
    }
}
.hide-element{
    display: none !important;
    
}
.rooms__item-slider{
    &__arrow{
       padding: 0;
       border: none;
       background: transparent;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       z-index: 10;
       cursor: pointer;
    }
    &__arrowleft{
        left:16px;
    }
    &__arrowright{
        right: 16px;
    }
}


.aside{
    width: 270px;
    margin-right: 60px;
    margin-top: 30px;
    &__block-title{
        margin-bottom: 5px;
    }
    
}

.rooms__item-rating {
    text-align: center;
    margin-top: 8px;
    .rating-group {
        display: inline-flex;
    }
    input {
        position: absolute;
        left: -9999px;
    }
    label {
        margin: 0;
        cursor: pointer;
    }
    label svg {
        margin: 2px;
        height: 19px;
        width: 21px;
        transition: fill 0.3s;
    }
    input:checked ~ label svg {
        fill-opacity: 0;
        stroke: $purple;
    }
    .rating-group:hover label svg {
        stroke: $purple;
        fill-opacity: .9;
    }
    .rating-group input:hover ~ label svg {
        fill-opacity: 0;
        stroke: $purple;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 40px;
    &__list{
        display: flex;
        align-items: center;}
    &__list-item{
        margin: 0 10px;
    }
    &__arrow{
        margin: 0 10px;
        &:hover{opacity: .8;}
    }
    &__arrow--disabled{
        opacity: 0;
        pointer-events: none;
        display: none;
    }
    &__list-num{
    font-size: 12px;
    color: $darkshade50;
    font-weight: 400;
    line-height: normal;
    &:hover{color:$darkshade75;}
    }
    &__list-num--active{
        display: block;
        background-image: url(../images/svg/pag-active.svg);
        width: 40px;
        height: 40px; 
        color:#fff;
        padding: 13px 0;
        text-align: center;
        font-weight: 700;     
        background-repeat: no-repeat;
        background-size: contain;   
        &:hover{opacity: .8;color:#fff;}
    }
    &__text{
        text-align: center;
        margin-bottom: 70px;
    }
}
.gallery__box{
    display: grid; 
    margin-bottom: 70px; 
    grid-template-columns: repeat(3, 1fr); 
    &-item:nth-child(1){
        grid-column: span 2;
        grid-row: span 2;
    }
    &-item-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.room{
    &__box{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 70px;
        margin-bottom: 70px;
    }
    &__reviews{
        grid-column: span 2;
    }
    &__about{
        padding-bottom: 20px;         
    }
    &__about-title{
        margin-bottom: 20px;
    }

    &__about-icon{
        float: left;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    &__about-text-bold{
        font-weight: 700;
        max-width: 233px;
    }
    &__line{
        margin-top: 20px;
        padding-top: 20px; 
        position: relative;     
        ::before{
            content: '';
            position: absolute;            
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(31, 32, 65, .10);
        }
    }
    &__impressions-title{
        margin-bottom: 20px;
    }
    &__reviews-head{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__reviews-avatar img{
        border-radius: 50%;
        box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.10);
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 10px;
    }
    &__reviews-author{
        font-weight: 700;
    }
    &__reviews-like{
        color:$darkshade25;
        font-size: 10px;
        position: relative;
        padding: 6px 0 0 25px;
        float: left;
        &::after{
            content: '';
            position: absolute;
            width: 39.721px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid $purple;
            background: transparent;
            top: 8px;
            left: 4px;
            z-index: -1;
        }
    }
    &__cancel-title,
    &__rules-title {margin-bottom: 20px;}
    &__rules-item {
        line-height: 24px;
        margin-bottom: 10px;
        list-style-image: url(../images/svg/li-marker.svg);
    }
    &__rules-lists li{padding-left: 5px;}
    &__reviews-like-icon {
        position: absolute;
        top: 14px;
        left: 10px;  
    }
    &__reviews-text{
        margin-left: 55px;
        margin-bottom: 23px;
    }
}
.canvas {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 320px;
  }  
  .legend {
    max-width: 155px;
    margin-left: 30px;
    line-height: 24px; 
  }  
  .caption-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }  
  .caption-item {
    position: relative;  
    padding-left: 10px;
    cursor: pointer;
  }  
  .caption-item:hover {
    opacity: 0.8; }  
  .caption-item::before {
    content: "";    
    position: absolute;
    top: 7px;
    left: -5px;    
    width: 10px;
    height: 10px;    
    border-radius: 8px;
  }
  
  .caption-item:nth-child(1)::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }  
  .caption-item:nth-child(2)::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }  
  .caption-item:nth-child(3)::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }  
  .caption-item:nth-child(4)::before {
    background: linear-gradient(180deg, #909090 0%, #3D4975 100%);
  }     
  .chart {
    min-width: 125px;
  }  
  .pie text {
    text-anchor: middle;
    dominant-baseline: central;
    visibility: hidden;    
    font-size: 4px;
    font-weight: 700;
  }
 
  .pie circle {
    fill: none;
    stroke-width: 2; 
    cursor: pointer;
    transition: all 1.5s; 
  }
  .pie circle:nth-of-type(1) {
    stroke: hsl(43, 100%, 80.6%);
    stroke-dasharray: 50 100;
    stroke-dashoffset: -25;
  }
  .pie circle:nth-of-type(2) {
    stroke: hsl(145, 50%, 62.4%);
    stroke-dasharray: 24 100; 
    stroke-dashoffset: 48;
  }
  .pie circle:nth-of-type(3) {
    stroke: hsl(259.4, 100%, 80.6%);
    stroke-dasharray: 23 100;
    stroke-dashoffset: -1;
  }
  .pie circle:nth-of-type(4) {
    stroke: hsl(0, 0%, 56.5%);
    stroke-dasharray: 0 100;
  }

  .pie g:hover circle:not(:hover) {
    opacity: .6;
    stroke-width: 4; 
  }
  .pie circle:nth-of-type(1):hover ~ text:nth-of-type(1),
  .pie circle:nth-of-type(2):hover ~ text:nth-of-type(2),
  .pie circle:nth-of-type(3):hover ~ text:nth-of-type(3),
  .pie circle:nth-of-type(4):hover ~ text:nth-of-type(4)  
  { visibility: visible; }

  
.like-button,
.like-button-2 {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
.rooms{ 
    &__card{
        grid-row: span 3;
        max-width: 380px;
        height: 530px;     
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: #FFF;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20); 
        padding: 40px 30px 30px 30px;
        label{text-transform: uppercase;color:$darkshade100;font-size: 12px; font-weight: 700;}
    }
    &__card-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;       
        align-items: baseline; 
        width: 100%;
    }
    &__card-input-check,
    &__card-input-exit{
        position: relative;
        width: 150px;
    }
    &__card-input-exit svg {
        position: absolute;
        top: 45px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__card-input-check svg {
        position: absolute;
        top: 45px;
        right: 15px;
        &:hover{opacity: .8;}
    }
    &__card-middle input{
        border-radius: 4px;
        border: 1px solid $darkshade25;
        background: #FFF;
        padding: 11px 15px;
        font-size: 14px;
        line-height: 18px; 
        font-weight: 400; 
        width: 150px;
        height: 44px;    
    }
    &__box-form-box-select{
        margin-top: 20px;
        width: 320px;
    }
    &__card-middle{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
    }
    &__card-class{
        color: $purple;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 30%;   
    }
}
.room {    
    & button {
     border: 0;
    }
    &__card-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__card-item{
        width: 215px;
    }
    &__card-item-att img{
        width: 20px;
        float: left;
    }
    &__card-item-price{
        width: 75px;
        text-align: right;
    }
    &__card-total{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 20px auto;
    }
    &__box-form-submit{
        width: 100%;
        padding: 14px 18px;
        border: none;
        background: transparent;
        position: relative;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        &:hover svg {filter: brightness(1.2); }
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.2s ease;
          }
    }
    &__box-form-submit-text{
        color:#fff;
        z-index: 1;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__box-form-submit-arrow{
        position: absolute;
        top: 9px;
        right: 15px;
        color: #fff;    
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        z-index: 1;
    }
    &__card-total-title{
        flex-shrink: 0;
    }
    &__card-total-text{
        order: 1;
        flex-shrink: 0;
    }
    &__card-total:after {
        content: '';
        border-bottom: 1px dashed $darkshade25; 
        flex-grow: 1;
      }
}
.reg{
    &__box{
            max-width: 100%;
            height: auto;
            background-image: url(../images/reg_main.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 19px 0;        
    }
    &__inner{
            display: flex;
            width: 380px;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 40px 30px 12px 30px;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .20);
            border: 1px solid rgba(0, 0, 0, .12);
            margin: 0 auto;
    }
    &__form input{
        border: 1px solid $darkshade25;
        border-radius: 4px;
        width: 100%;
        padding: 13px 15px;
        margin-bottom: 10px;
        color: $darkshade25;        
        &::placeholder {
            color: $darkshade25;
            line-height: 18px;
        }    
    }
    &__title{
        margin-bottom: 20px;
    }
    &__form-date{
        text-transform: uppercase;
    }
    &__form-gender input[type=radio]{
        display: none;
    }
    &__form-gender label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 20px;
        line-height: 24px;
        user-select: none;
    }
    &__form-gender label:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 21px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: url(../images/svg/reg_radio_none.svg) 0 0 no-repeat;
    }
    &__form-gender label:hover:before {
        filter: brightness(110%);
    }    
    &__form-gender input[type=radio]:disabled + label:before {
        filter: grayscale(100%);
    }    
    &__form-gender input[type=radio]:checked + label:before {
        background: url(../images/svg/reg_radio_check.svg) 0 0 no-repeat;
    }
    &__form-date-box{
        margin-top: 23px;
        margin-bottom: 5px;
     }
     &__form-ent-box{
        margin-top: 10px;
        margin-bottom: 5px;
         }
    &__form-submit{
        border: none;
        width: 100%;
        padding: 14px 20px;
        background: transparent;
        position: relative;
        margin-top: 20px;
        margin-bottom: 12px;
        text-align: center;
        cursor: pointer;
        &:hover svg {filter: brightness(1.2); }
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.2s ease;
          }
    }
    &__box-form-submit-text{
        position: relative;
        color:#fff;
        z-index: 1;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__box-form-submit-arrow{
        position: absolute;
        top: 9px;
        right: 15px;
        color: #fff;    
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        z-index: 1;
    }
    &__form-checkbox{
        width: 100%;
    }   

    &__form-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    } 
    
}
.toggle {
    cursor: pointer;
    display: inline-block;
  }  
.toggle-switch {
    display: inline-block;
    width: 40px;
    height: 20px;            
    border-radius: 10px;
    border: 1px solid $darkshade25;
    background: #FFF;            
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
.toggle-switch:before, .toggle-switch:after {
    content: '';
  }
.toggle-switch:before {
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: $darkshade25;
    transition: 0.3s;
  }
  .toggle:hover .toggle-switch:before {
    box-shadow: 0 0 0 1px $purple;
  }
  .toggle-checkbox:checked + .toggle-switch {
    border: 1px solid $purple;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: $purple;
  }  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }  
  .toggle-label {
    position: relative;
  }
.sign{
    &__box{
        max-width: 100%;
        height: auto;
        background-image: url(../images/sign_main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 172px 0; 
}
    &__inner{
        width: 380px;
        padding: 40px 30px 32px 30px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, .20);
        border: 1px solid rgba(0, 0, 0, .12);
        margin: 0 auto;
}
    &__form-link {
        text-decoration: none;
        color: #000;
    }
}
