</main>
<div class="footer__content">
    <div class="container">
      <div class="footer__widgets">
        <div class="footer__widgets-logo">
          <a class="footer__widgets-logo-img-link"  href="#">
            <img class="footer__widgets-logo-img" src="images/svg/logo.svg" alt="Toxin Logo">
          </a>
          <p class="footer__widgets-logo-text">Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</p>
        </div>
        <div class="footer__widgets-nav">
          <h3 class="footer__widgets-nav-title">навигация</h3>
          <a class="footer__widgets-nav-link" href="#!">О нас</a>
          <a class="footer__widgets-nav-link" href="#!">Новости</a>
          <a class="footer__widgets-nav-link" href="#!">Служба поддержки</a>
          <a class="footer__widgets-nav-link" href="#!">Услуги</a>
        </div>
        <div class="footer__widgets-about">
          <h3 class="footer__widgets-nav-title">о нас</h3>
          <a class="footer__widgets-nav-link" href="#!">О сервисе</a>
          <a class="footer__widgets-nav-link" href="#!">Наша команда</a>
          <a class="footer__widgets-nav-link" href="#!">Вакансии</a>
          <a class="footer__widgets-nav-link" href="#!">Инвесторы</a>
        </div>
        <div class="footer__widgets-support">
          <h3 class="footer__widgets-nav-title">Служба поддержки</h3>
          <a class="footer__widgets-nav-link" href="#!">Соглашения</a>
          <a class="footer__widgets-nav-link" href="#!">Сообщества</a>
          <a class="footer__widgets-nav-link" href="#!">Связь с нами</a>
        </div>
        <div class="footer__widgets-subscription">
          <h3 class="footer__widgets-nav-title">Подписка</h3>
          <p class="footer__widgets-subscription-text">Получайте специальные предложения и новости сервиса</p>
          <form class="footer__widgets-subscription-form">              
          <input class="footer__widgets-subscription-input" type="text" placeholder="Email">              
          <button class="footer__widgets-subscription-btn">
            <img src="images/svg/footer_input.svg" alt="Search">
          </button>
        </form>
        </div>
      </div>
    </div>
    <div class="footer__widgets-line">
    </div>
    <div class="container">
      <div class="footer__bar">
        <div class="footer__info">
          <p class="footer__info-text">Copyright © 2018 Toxin отель. Все права защищены.</p>
        </div>  
        <div class="footer__info-social">
          <a class="footer__info-social-link" href="#!"><i class="fa-brands fa-twitter footer__info-social-twitter"></i></a>
          <a class="footer__info-social-link" href="#!"><i class="fa-brands fa-square-facebook footer__info-social-facebook"></i></a>
          <a class="footer__info-social-link" href="#!"><i class="fa-brands fa-instagram footer__info-social-instagram"></i></a>
        </div>
      </div>  
    </div>  
  </div>  
</footer>
</div>

<script src="js/main.min.js"></script>
</body>
</html>