<div class="container">
    <div class="header__inner">
      <div class="header__inner-logo">
      <a href="#" class="logo">
        <img src="images/svg/logo.svg" alt="Toxin Logo">
      </a>
      </div>
    <div class="header__inner-btn">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#!">О нас</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#!">Услуги
            <img class="menu__list-more" src="images/svg/expand_more.svg" alt="More" >
          </a>
          <ul class="menu__list-submenu">
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Услуги</a>
            </li>
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Услуги &#8594;</a>
                      <ul class="menu__list-submenu">
                        <li class="menu__list-submenu-li">
                          <a class="menu__list-submenu-link" href="#!">Услуги</a>
                        </li>
                        <li class="menu__list-submenu-li">
                          <a class="menu__list-submenu-link" href="#!">Услуги</a>
                        </li>                          
                      </ul>
            </li>
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Услуги</a>
            </li>
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Услуги</a>
            </li>
          </ul>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#!">Вакансии</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#!">Новости</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#!">Соглашения
          <img class="menu__list-more" src="images/svg/expand_more.svg" alt="More" >            
          </a>
          <ul class="menu__list-submenu">
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Соглашения</a>
            </li>
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Соглашения</a>                        
            </li>
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Соглашения  &#8594;</a>
              <ul class="menu__list-submenu">
                <li class="menu__list-submenu-li">
                  <a class="menu__list-submenu-link" href="#!">Соглашения</a>
                </li>
                <li class="menu__list-submenu-li">
                  <a class="menu__list-submenu-link" href="#!">Соглашения</a>
                </li>                          
              </ul>
            </li>
            <li class="menu__list-submenu-li">
              <a class="menu__list-submenu-link" href="#!">Соглашения</a>
            </li>
          </ul>
        </li>          
      </ul>
    </nav>   
   
      <button class="header__btn-enter">
        <svg xmlns="http://www.w3.org/2000/svg" width="87" height="34" viewBox="0 0 87 34" fill="none">
          <path d="M1 17C1 8.16344 8.16344 1 17 1H70C78.8366 1 86 8.16344 86 17C86 25.8366 78.8366 33 70 33H17C8.16345 33 1 25.8366 1 17Z" stroke="url(#paint0_linear_18370_50)" stroke-width="2"/>
          <defs>
            <linearGradient id="paint0_linear_18370_50" x1="43.5" y1="0" x2="43.5" y2="34" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC9CFF"/>
              <stop offset="1" stop-color="#8BA4F9"/>
            </linearGradient>
          </defs>
        </svg>
        <a class="menu__list-btn-enter" href="#!">Войти</a>
      </button>
      <button class="header__btn-reg">
        <svg xmlns="http://www.w3.org/2000/svg" width="196" height="34" viewBox="0 0 196 34" fill="none">
          <path d="M0 17C0 7.61116 7.61116 0 17 0H179C188.389 0 196 7.61116 196 17C196 26.3888 188.389 34 179 34H17C7.61116 34 0 26.3888 0 17Z" fill="url(#paint0_linear_18370_47)"/>
          <defs>
            <linearGradient id="paint0_linear_18370_47" x1="98" y1="0" x2="98" y2="34" gradientUnits="userSpaceOnUse">
              <stop stop-color="#BC9CFF"/>
              <stop offset="1" stop-color="#8BA4F9"/>
            </linearGradient>
          </defs>
        </svg>
        <a class="menu__list-btn-reg" href="#!">Зарегистрироваться</a>
      </button>
    </div>      
    </div>
  </div>