<section class="sign__box">
    <div class="sign__inner">
        <h1 class="reg__title">Войти</h1>
        <form class="reg__form">
            <input class="reg__form-email" type="email" placeholder="Email">
            <input class="reg__form-pass" type="password" placeholder="Пароль">
            <button class="reg__form-submit" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="320" height="44" viewBox="0 0 320 44" fill="none">
                  <path d="M0 22C0 9.84974 9.84974 0 22 0H298C310.15 0 320 9.84974 320 22C320 34.1503 310.15 44 298 44H22C9.84974 44 0 34.1503 0 22Z" fill="url(#paint0_linear_18373_5)"/>
                  <defs>
                  <linearGradient id="paint0_linear_18373_5" x1="160" y1="0" x2="160" y2="44" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#BC9CFF"/>
                  <stop offset="1" stop-color="#8BA4F9"/>
                  </linearGradient>
                  </defs>
                  </svg>
                  <a class="reg__box-form-submit-text" href="#!">Войти</a>
                  <span class="reg__box-form-submit-arrow">&#8594;</span>
            </button>  
            <div class="reg__form-footer">    
                <a class="sign__form-link" href="#!">Нет аккаунта на Toxin?</a>           
                <button class="header__btn-enter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="87" height="34" viewBox="0 0 87 34" fill="none">
                      <path d="M1 17C1 8.16344 8.16344 1 17 1H70C78.8366 1 86 8.16344 86 17C86 25.8366 78.8366 33 70 33H17C8.16345 33 1 25.8366 1 17Z" stroke="url(#paint0_linear_18370_50)" stroke-width="2"/>
                      <defs>
                        <linearGradient id="paint0_linear_18370_50" x1="43.5" y1="0" x2="43.5" y2="34" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#BC9CFF"/>
                          <stop offset="1" stop-color="#8BA4F9"/>
                        </linearGradient>
                      </defs>
                    </svg>
                    <a class="menu__list-btn-enter" href="#!">Создать</a>
                </button>
                </div> 
        </form>
    </div>
</section>  