<div class="rooms__item">
    <div class="rooms__item-slider">
      <div class="rooms__item-img">
        <img class="rooms__item-img-slider" src="images/cards/card1.jpg" alt="Image">
      </div>
      <div class="rooms__item-img">
        <img class="rooms__item-img-slider" src="images/cards/card1.jpg" alt="Image">
      </div>
      <div class="rooms__item-img">
        <img class="rooms__item-img-slider" src="images/cards/card1.jpg" alt="Image">
      </div>
      <div class="rooms__item-img">
        <img class="rooms__item-img-slider" src="images/cards/card1.jpg" alt="Image">
      </div>
    </div>
      <div class="rooms__item-box-top">
      <div class="rooms__item-num">
       <p><span>№ </span>888</p> 
      </div>
      <div class="rooms__item-class">
        <p>люкс</p> 
      </div>
      <div class="rooms__item-price">
        <p>9 990₽ в сутки</p>
      </div>
    </div>
    <div class="rooms__item-box-footer">
      <div class="rooms__item-rating">
        <div class="rating-group">
            <!-- по умолчанию 0 -->
            <input name="fst" value="0" type="radio">            
            <!-- рейтинг 1 -->    
            <label for="fst-1">
              <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2637 15.25L4.07617 19L5.7168 11.9688L0.279297 7.23438L7.45117 6.625L10.2637 0.015625L13.0762 6.625L20.248 7.23438L14.8105 11.9688L16.4512 19L10.2637 15.25Z" fill="url(#paint0_linear_18381_411)"/>
                <defs>
                <linearGradient id="paint0_linear_18381_411" x1="10.2637" y1="-2" x2="10.2637" y2="22" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BC9CFF"/>
                <stop offset="1" stop-color="#8BA4F9"/>
                </linearGradient>
                </defs>
                </svg>                               
            </label>
            <input name="fst" id="fst-1" value="1" type="radio">            
            <!-- рейтинг 2 -->    
            <label for="fst-2">
              <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2637 15.25L4.07617 19L5.7168 11.9688L0.279297 7.23438L7.45117 6.625L10.2637 0.015625L13.0762 6.625L20.248 7.23438L14.8105 11.9688L16.4512 19L10.2637 15.25Z" fill="url(#paint0_linear_18381_411)"/>
                <defs>
                <linearGradient id="paint0_linear_18381_411" x1="10.2637" y1="-2" x2="10.2637" y2="22" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BC9CFF"/>
                <stop offset="1" stop-color="#8BA4F9"/>
                </linearGradient>
                </defs>
                </svg>                   
            </label>
            <input name="fst" id="fst-2" value="2" type="radio">            
            <!-- рейтинг 3 -->    
            <label for="fst-3">
              <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2637 15.25L4.07617 19L5.7168 11.9688L0.279297 7.23438L7.45117 6.625L10.2637 0.015625L13.0762 6.625L20.248 7.23438L14.8105 11.9688L16.4512 19L10.2637 15.25Z" fill="url(#paint0_linear_18381_411)"/>
                <defs>
                <linearGradient id="paint0_linear_18381_411" x1="10.2637" y1="-2" x2="10.2637" y2="22" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BC9CFF"/>
                <stop offset="1" stop-color="#8BA4F9"/>
                </linearGradient>
                </defs>
                </svg>                 
            </label>
            <input name="fst" id="fst-3" value="3" type="radio">            
            <!-- рейтинг 4 -->        
            <label for="fst-4">
              <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2637 15.25L4.07617 19L5.7168 11.9688L0.279297 7.23438L7.45117 6.625L10.2637 0.015625L13.0762 6.625L20.248 7.23438L14.8105 11.9688L16.4512 19L10.2637 15.25Z" fill="url(#paint0_linear_18381_411)"/>
                <defs>
                <linearGradient id="paint0_linear_18381_411" x1="10.2637" y1="-2" x2="10.2637" y2="22" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BC9CFF"/>
                <stop offset="1" stop-color="#8BA4F9"/>
                </linearGradient>
                </defs>
                </svg>                   
            </label>
            <input name="fst" id="fst-4" value="4" type="radio">            
            <!-- рейтинг 5 -->    
            <label for="fst-5">
              <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2637 15.25L4.07617 19L5.7168 11.9688L0.279297 7.23438L7.45117 6.625L10.2637 0.015625L13.0762 6.625L20.248 7.23438L14.8105 11.9688L16.4512 19L10.2637 15.25Z" fill="url(#paint0_linear_18381_411)"/>
                <defs>
                <linearGradient id="paint0_linear_18381_411" x1="10.2637" y1="-2" x2="10.2637" y2="22" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BC9CFF"/>
                <stop offset="1" stop-color="#8BA4F9"/>
                </linearGradient>
                </defs>
                </svg>                  
            </label>
            <input name="fst" id="fst-5" value="5" type="radio" disabled checked>
        </div>
    </div>
      <div class="rooms__item-reviews">
        <p>145 Отзывов</p>
      </div>
    </div>
    </div>