include header.html
.container
  section.rooms.search-room
   .rooms__inner
    include sidebar.html
    .rooms__items
      h1.rooms__title Номера, которые мы для вас подобрали
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
      include ./mixins/card.html
include footer.html